@import '../../styles/variables.scss';

.section_opinions {
	margin: 0 auto 8rem;
	width: 80%;
	position: relative;
}

.bg_quotes {
	position: absolute;
	top: -23px;
	left: 10px;
	z-index: -1;
	width: 10%;
}

.article_opinion {
	margin-bottom: 2rem;
	background-color: $Dark-Blue-testimonials-background;
	border-radius: 8px;
	padding: 30px 20px;
	box-shadow: 0 0 10px $Dark-Blue-testimonials-background;
	z-index: 1;
}

.article_opinion .text {
	margin-bottom: 2rem;
	font-size: 12px;
}

.profile_article {
	display: flex;
}

.profile {
	width: 15%;
	border-radius: 50%;
}

.author {
	margin-left: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.author .title {
	margin: 0;
	font-size: 1em;
}

@media screen and (min-width: 1024px) {
	.section_opinions {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 50px;
	}

	.bg_quotes {
		top: -36px;
		left: -12px;
		width: auto;
	}

	.article_opinion .text {
		font-size: 1.14em;
	}
}
